* {
    margin: 0;
    padding: 0;
}

:root{
    --green: #69DDAC;
    --yellow: #FCEA01;
    --blue: #00E0FF;
    --light-violet: #7279b3;
    --soft-violet: #494d6e;
    --violet: #2D325A;
    --dark-violet: #202342;
}

body{
    height: 100vh;
    background-color: #B4BDF4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-family: 'Staatliches', cursive;
    color: #e4e4e4;
    padding-top: 3rem;
}

.content{
    height: 70%;
    width: 70%;
    background-color: #202342;
    border-radius: 2rem;
    padding: 30px;
    -webkit-box-shadow: 0px 38px 105px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 38px 105px -14px rgba(0,0,0,0.75);
    box-shadow: 0px 38px 105px -14px rgba(0,0,0,0.75);
    position: relative;
}

header{
    text-align: center;
    height: 120px;
}

h3{
    letter-spacing: 2px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
}

section{
    padding-right: 4rem;
    width: 100%;
    min-width: 200px;

}

.row{
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border-radius: 20px;
    background-color: var(--violet);
}

.row{
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-align: start;
    vertical-align: middle;
    font-family: 'Space Mono', monospace;
}

.row div{
    flex-grow: 1;
}

.row .fa-solid{
    margin-right: 1rem;
    visibility: hidden;
    cursor: pointer;
}

.finished .fa-solid {
    visibility: hidden !important;
}

.row:hover .fa-solid {
    visibility: visible;
}


